/* google fonts start */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:wght@300;400;700;900&display=swap");
/* google fonts end */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* shared styles  start */
.content-width {
  max-width: 1320px;
  height: 600px;
  margin: 0 auto;
}
/* shared styles  end */

/* banner section start */

.banner-section {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/banner-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-blend-mode: overlay;
}
.banner-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 600px;
}
.banner-content .banner-short-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner-content .banner-large-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  margin-top: 16px;
}

/* banner section end */

/* 65% section start */
.second-section {
  margin-top: 100px;
  width: 802.9px;
  height: 800px;
}
.second-section-content {
  text-align: center;
}
.second-section-content .second-first-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
}
.second-section-content .second-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 48px;
}
.second-section-content .third-title {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin-top: 16px;
}
.image-container {
  width: 802.9px;
  height: 500px;
  margin-top: 48px;
}
.image-container img {
  width: 100%;
  height: 100%;
}
/* 65% section end */

/* midnight party section start */
.midnight-section {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/party.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 100px;
  display: flex;
  gap: 30px;
}
.midnight-content {
  width: 60%;
  color: #fff;
  padding: 100px;
}
.midnight-content .midnight-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  width: 600px;
}
.midnight-content .midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
}
.midnight-content .midnight-btn {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 48px;
}
.midnight-img {
  width: 40%;
  display: flex;
  align-items: center;
}
.midnight-img img {
  width: 319.83px;
  height: 464.662px;
}
/* midnight party section end */
