/* google fonts start */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:wght@300;400;700;900&display=swap");
/* google fonts end */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* shared styles  start */
.content-width {
  max-width: 1320px;
  margin: 0 auto;
}
/* shared styles  end */

/* banner section start */

.banner-section {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/banner-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-blend-mode: overlay;
}
.banner-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 600px;
}
.banner-content .banner-short-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner-content .banner-large-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  margin-top: 16px;
}

/* banner section end */

/* 65% section start */
.second-section {
  margin-top: 100px;
  width: 802.9px;
  height: 800px;
}
.second-section-content {
  text-align: center;
}
.second-section-content .second-first-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
}
.second-section-content .second-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 48px;
}
.second-section-content .third-title {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin-top: 16px;
}
.image-container {
  width: 802.9px;
  height: 500px;
  margin-top: 48px;
}
.image-container img {
  width: 100%;
  height: 100%;
}
/* 65% section end */

/* midnight party section start */
.midnight-section {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/party.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 100px;
  display: flex;
  gap: 30px;
}
.midnight-content {
  width: 60%;
  color: #fff;
  padding: 100px;
}
.midnight-content .midnight-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  width: 600px;
}
.midnight-content .midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
}
.midnight-content .midnight-btn {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 48px;
}
.midnight-img {
  width: 40%;
  display: flex;
  align-items: center;
}
.midnight-img img {
  width: 319.83px;
  height: 464.662px;
}
/* midnight party section end */

/* 4th section start */
.location-section {
  margin-top: 100px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
}
.location-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.location-content .location-title {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.location-content .red {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.location-btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  margin-top: 60px;
}
.location-btn button {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: red;
  color: #fff;
  border: none;
}
/* 4th section end */

/* coming soon section start */
.coming-soon {
  margin-top: 100px;
}
.coming-soon-content {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.coming-soon-content .coming-first-content {
  width: 33%;
}
.coming-first-content .first-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.coming-first-content .second-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 16px;
}
.coming-first-content .first-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 393px;
  margin-top: 22px;
}
.coming-soon-content .image {
  border: 15px solid red;
  border-radius: 463px;
  padding: 50px;
}
.image img {
  width: 364.844px;
  height: 364.844px;
  border-radius: 364.844px;
}
.coming-soon-content .coming-last-content {
  width: 33%;
  padding-left: 50px;
}
.coming-last-content .last-title {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.coming-last-content .last-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 276px;
  margin-top: 16px;
}
.coming-last-content img {
  width: 140px;
  height: 140px;
  margin-top: 43px;
}
/* coming soon section end */

/* holidays sale section start */
.holidays {
  margin-top: 100px;
  height: 1000px;
  position: relative;
}
.holidays-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.holidays-content .holidays-short-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.holidays-content .holidays-sale {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 16px;
}
.holidays-content .sale {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.holidays-content .holidays-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  width: 1068px;
  margin-top: 28px;
}
.holidays-images {
  width: 1320px;
  height: 229px;
  border-radius: 16px 0px 16px 16px;
  background: #f00;
  position: absolute;
  top: 77%;
}
.gift-box {
  position: absolute;
  top: 30%;
  display: flex;
}
.girl-image {
  width: 429px;
  height: 433px;
  border-radius: 16px 16px 0px 0px;
  position: absolute;
  left: 112%;
  top: 6%;
  z-index: -1;
}
.girl-image img {
  width: 100%;
  height: 100%;
}
.discount {
  position: absolute;
  bottom: 30%;
  left: 55%;
}
/* holidays sale section end */

/* portfolio section start */
.portfolio {
  margin-top: 100px;
  min-height: 600px;
}
.portfolio-content {
}
.portfolio-content .portfolio-content-first-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.portfolio-content .portfolio-content-second-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 16px;
}
.portfolio-content .portfolio-content-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
  margin-top: 32px;
}
.portfolio-images {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.item {
  width: 424px;
  height: 450px;
  border-radius: 16px;
}
.item img {
  width: 100%;
  height: 100%;
}
/* portfolio section end */

/* subscribe section start */
.subscribe {
  margin-top: 100px;
  min-height: 400px;
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
}
.subscribe-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe .logo {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}
.subscribe-title {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 40px;
}
.subscribe-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
  margin-top: 22px;
}
.subscribe-form form {
  margin-top: 48px;
  display: flex;
}
.subscribe-form input {
  width: 648px;
  height: 72px;
  border: none;
  padding: 25px 30px;
  font-size: 20px;
  background: #fff;
  border-radius: 50px 0 0 50px;
}
.subscribe-form .btn {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
}
/* subscribe section end */

/* footer section start */
.footer-section {
  margin-top: 100px;
  background-color: #070211;
  padding: 120px 120px;
}
.footer-first-text {
  display: flex;
  justify-content: space-around;
}
.footer-first-text h3 {
  color: #fff;
}
.footer-contact {
  display: flex;
  gap: 16px;
  color: #fff;
}
.footer-contact-two {
  display: flex;
  gap: 16px;
  color: #fff;
  margin-top: 16px;
}
.hr {
  width: 1320px;
  height: 1px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.15);
}
.social-icon {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  gap: 24px;
}
.footer-last-text {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* footer section end */
